.settings--button {
  margin: 40px 0;
  width: 50px;
  height: 50px;
  background-image: url(../resources/gear-svgrepo-com.svg);
  background-size: contain;
  transition: transform .4s ease,  filter .3s ease; }
  .settings--button:hover {
    cursor: pointer;
    filter: brightness(140%);
    transform: rotate(1turn); }

.settings {
  display: none;
  position: absolute;
  width: 90%;
  max-width: 500px;
  z-index: 10; }

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(-30px); }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px); } }
.settings__popup {
  background-color: var(--white);
  width: 100%;
  z-index: 4;
  border-radius: 20px;
  padding: 10px 30px 40px 30px;
  animation: appear .5s ease-out 0s 1 forwards; }
  .settings__popup > div {
    display: flex;
    align-items: center;
    color: var(--yankees-blue); }
  .settings__popup h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .8rem;
    font-weight: 900; }

.settings--bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  animation: fadeIn .4s ease 0s 1 forwards; }

@keyframes fadeIn {
  from {
    opacity: 0; } }
.settings__header {
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .settings__header h2 {
    margin: 10px 0; }
  .settings__header button {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: background-color .2s ease;
    padding: 15px; }
    .settings__header button:hover {
      cursor: pointer;
      background-color: var(--light-gray); }
  .settings__header .settings--close {
    background-image: url(../resources/x-svgrepo-com.svg); }

.settings__color {
  justify-content: space-between;
  height: 50px;
  margin: 10px 0; }
  .settings__color .color > button {
    background-color: var(--light-gray);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin: 0 5px;
    font-weight: 900;
    transition: filter .2s ease; }
    .settings__color .color > button.selected {
      background-image: url(../resources/check-svgrepo-com.svg);
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center; }
    .settings__color .color > button:hover:not(.selected) {
      cursor: pointer;
      filter: brightness(75%); }

.settings__language {
  justify-content: space-between; }
  .settings__language button {
    width: 38px;
    height: 38px;
    padding: 1px 6px;
    margin: 0 5px;
    position: relative; }
    .settings__language button.selected img {
      box-shadow: 0 0 0 2px var(--yankees-blue); }
  .settings__language img {
    position: relative;
    right: 6px;
    width: 38px;
    border-radius: 50%; }
    .settings__language img:hover {
      cursor: pointer;
      filter: brightness(75%); }

.settings--apply {
  text-align: center;
  left: 50%;
  margin-left: -60px;
  bottom: -20px;
  position: absolute;
  text-transform: capitalize;
  border-radius: 40px;
  padding: 15px;
  font-weight: 700;
  color: var(--white);
  width: 120px;
  transition: box-shadow .2s ease, background-color .2s ease; }
  .settings--apply.red {
    background-color: var(--begonia-red); }
  .settings--apply.blue {
    background-color: var(--eletric-blue); }
  .settings--apply.lilac {
    background-color: var(--bright-lilac); }
  .settings--apply:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7); }

@media (max-width: 425px) {
  .settings {
    top: 15px; }

  .settings__popup {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .settings__font,
  .settings__color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .settings__font ul,
    .settings__color ul {
      padding: 0;
      margin: 0;
      width: 153px !important; }

  .settings__language {
    flex-direction: column;
    align-items: center;
    margin: 10px 0; }
    .settings__language ul {
      padding: 0;
      margin: 0; }

  .settings__time {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px; }
    .settings__time > h3 {
      text-align: center; }
    .settings__time > div {
      width: 100% !important;
      flex-direction: row !important;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0; }
      .settings__time > div input {
        width: 70%; }
      .settings__time > div::before {
        left: 20px; }
      .settings__time > div::after {
        top: 50px !important;
        width: 18ch !important; } }
