.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 98%;
  max-width: 20rem;
  aspect-ratio: 1 / 1;
  margin-top: 20px;
  background-color: var(--yankees-blue);
  border-radius: 50%;
  background: linear-gradient(312deg, var(--yankees-blue), var(--dark-blue));
  box-shadow: 50px 50px 100px #111223, -50px -50px 100px #2c305d; }
  .timer:before {
    content: '';
    position: absolute;
    width: 85%;
    max-width: 18rem;
    aspect-ratio: 1 / 1;
    background-color: var(--dark-blue);
    border-radius: 50%; }

.timer--counter {
  z-index: 2;
  font-weight: 900;
  color: var(--light-gray);
  font-size: 5rem;
  margin: 10px 0; }

.timer--pause {
  color: var(--light-gray);
  z-index: 2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
  transition: color .2s ease;
  user-select: none; }
  .timer--pause:hover {
    cursor: pointer;
    color: var(--gray); }
  .timer--pause.red {
    color: var(--begonia-red); }
  .timer--pause.blue {
    color: var(--eletric-blue); }
  .timer--pause.lilac {
    color: var(--bright-lilac); }

.timer__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center; }

.base-timer__svg {
  transform: rotate(270deg); }

.base-timer__circle {
  fill: none;
  stroke: none; }

.base-timer__path-elapsed {
  stroke-width: 4px;
  stroke-dasharray: 283 283;
  transition: stroke-dasharray linear 1s;
  stroke-linecap: round; }
  .base-timer__path-elapsed.red {
    stroke: var(--begonia-red); }
  .base-timer__path-elapsed.blue {
    stroke: var(--eletric-blue); }
  .base-timer__path-elapsed.lilac {
    stroke: var(--bright-lilac); }
