.settings--help {
    position: relative;
    background-image: url(../resources/question-mark-svgrepo-com.svg);
    background-size: 18px;

    &:focus-within {
        $bgColor: var(--light-gray);
        
        &::after {
            content: attr(data-help-desc);
            white-space: pre-line;
            animation: tipAppear .4s ease 0s forwards;
            position: absolute;
            background-color: $bgColor;
            z-index: 8;
            padding: 10px;
            font-weight: 700;
            font-size: .8rem;
            top: 40px;
            right: -15px;
            border-radius: 10px;
            width: 35ch;
            text-align: center;
        }
        &::before {
            animation: tipAppear .4s ease 0s forwards;
            content: '';
            position: absolute;
            bottom: -13px;
            left: 5px;
            border-bottom: 10px solid $bgColor;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }
    }
}

@media (max-width: 375px) {
    .settings--help:focus-within:after {
        right: -40px;
    }
}